.popup__input_subtitle_info {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    border: none;
    outline: none;
    min-width: 100%;
    margin: 0;
    padding: 30px 0 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}