.profile {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.profile__container {
    display: flex;
}

.profile__avatar-image {
    margin: 36.25px 0 47.25px;
    background-image: url(../../image/kusto.jpg);
    background-size: 100%;
    border-radius: 50%;
    flex-wrap: nowrap;
    width: 100%;
}

.profile__info {
    margin: 0;
    padding: 0;
    display: grid;
    flex-flow: column;
    justify-content: center;
}

.profile__name {
    margin: 62px 18px 16px 4px;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    width: fit-content;
}

.profile__button {
    background-color: black;
    width: 24px;
}

.profile__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.profile__add-button {
    margin: 75px 0 85px;
    padding: 0;
    color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: black;

}

@media screen and (max-width: 767px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}