.profile {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.profile__container {
    display: flex;
}

.profile__avatar-image {
    background-image: url(../../image/kusto.jpg);
    background-size: 100%;
    border-radius: 50%;
    flex-wrap: nowrap;
    width: 168.75px;
    height: 127.5px;
}

.profile__info {
    margin: 0;
    padding: 0;
    flex-flow: column;
    justify-content: center;
    display: grid;
    gap: 5px;
    grid-template-areas:
        "name button"
        "title";
}

.profile__name {
    margin: 0 18px 16px;
    padding: 0;
    grid-area: name;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    width: fit-content;
}

.profile__button {
    background-color: black;
    width: 24px;
    height: 24px;
    grid-area: button;
}

.profile__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    grid-area: title;
}

.profile__add-button {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}