.page__type-pos {
    margin: 45px auto 60px;
}

@media screen and (max-width: 1023px) {
    .page__type-pos {
        margin: 28px 20px 36px;
    }
}

@media screen and (max-width: 767px) {
    .page__type-pos {
        margin: 28px 19px 36px;
    }
}