.header_type_pos {
    margin: 45px 200px 0;
    max-width: 1240px;
}

.header {
    background-color: black;
    display: block;
}

.logo {
    max-width: 142px;
    margin-bottom: 40px;
    color: #FFFFFF;
}

.line {
    max-width: 880px;
    opacity: 0.7;
    border: 1px solid #545454;

}

@media screen and (max-width: 767px) {
    .logo {
        max-width: 103.74px;
        top: 28px;
        left: 27px;
    }
}