<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="./pages/index.css" /> -->
    <title>Mesto</title>
  </head>

  <body class="page page_type_pos">
    <!--============= HEADER ===============-->
    <header class="header">
      <img
        class="header__logo"
        src="<%=require('./image/Vector_logo.svg') %>"
        alt="Логотип Место"
      />
    </header>

    <main class="main main_type_pos">
      <!--============= PROFILE ===============-->
      <section class="profile profile_type_pos">
        <div class="profile__container">
          <img
            class="profile__avatar"
            src="<%= require('./image/kusto.png') %>"
            alt="Жак-Ив Кусто"
          />

          <div class="profile__info">
            <div class="profile__info-container">
              <h1 class="profile__name">Жак-Ив Кусто</h1>
              <button class="profile__button link" type="button">
                <img
                  src="<%=require('./image/Edit_Button.svg') %>"
                  alt="Иконка карандаш"
                  class="profile__button-pencil"
                />
              </button>
            </div>
            <p class="profile__title">Исследователь океана</p>
          </div>
        </div>

        <button class="profile__add-button link" type="button">
          <img
            class="profile__add-img"
            src="<%= require('./image/profile_button.svg') %>"
            alt="Кнопка с плюсом"
          />
        </button>
      </section>

      <!--============= CARDS ===============-->
      <section class="cards" aria-label="Фото">
        <ul class="cards__list"></ul>
      </section>

      <!--============= POPUP-1 ===============-->
      <section class="popup" id="formEditPopup">
        <div class="popup__container">
          <h2 class="popup__title">Редактировать профиль</h2>
          <button class="popup__close link" type="button"></button>

          <form class="popup__filler" name="popup" novalidate>
            <input
              class="popup__input popup__input_subtitle_name"
              name="name-edit"
              type="text"
              placeholder="Введите ФИО"
              required
              minlength="2"
              maxlength="40"
            />
            <span id="name-edit-error" class="popup__error"></span>
            <input
              class="popup__input popup__input_subtitle_info"
              name="info-edit"
              type="text"
              placeholder="Род деятельности"
              required
              minlength="2"
              maxlength="200"
            />
            <span id="info-edit-error" class="popup__error"></span>
            <button
              class="popup__save popup__button link"
              name="save"
              type="submit"
            >
              Сохранить
            </button>
          </form>
        </div>
      </section>

      <!--================= POPUP-2 ====================-->
      <section class="popup" id="formAddPopup">
        <div class="popup__container">
          <button class="popup__close link" type="button"></button>
          <h2 class="popup__title">Новое место</h2>

          <form class="popup__filler" name="popup" novalidate>
            <input
              class="popup__input popup__input_subtitle_name"
              name="name-card"
              type="text"
              placeholder="Название"
              required
              minlength="2"
              maxlength="30"
            />
            <span id="name-card-error" class="popup__error"></span>
            <input
              class="popup__input popup__input_subtitle_info"
              name="link-card"
              type="url"
              placeholder="Ссылка на картинку"
              required
            />
            <span id="link-card-error" class="popup__error"></span>
            <button
              class="popup__save popup__button link popup__button_disabled"
              name="save"
              type="submit"
            >
              Создать
            </button>
          </form>
        </div>
      </section>

      <!--================= POPUP-IMAGE ======================= -->
      <section class="popup popup-large" id="formImagePopup">
        <div class="popup-large__container">
          <button class="popup__close link" type="button"></button>
          <img src="#" alt="" class="popup-large__image" />
          <h2 class="popup-large__title"></h2>
        </div>
      </section>
    </main>

    <!--============== FOOTER =====================-->
    <footer class="footer">
      <p class="footer__copyright">&copy; 2023 Mesto Russia</p>
    </footer>

    <!--================== TEMPLATE ==============-->
    <template class="item_template card-template_type_default">
      <li class="card list__item">
        <img
          class="card__trash link"
          src="<%= require('./image/Trash.svg') %>"
          alt="Иконка удаление карточки"
        />
        <img src="#" alt="" class="card__image" />
        <div class="card__item">
          <h2 class="card__title item__text"></h2>
          <button type="button" class="card__like link"></button>
        </div>
      </li>
    </template>
  </body>
</html>
