.profile__add_button {
    margin: 0;
    padding: 0;
    color: #fff;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
}

@media screen and (max-width: 767px) {
    .profile__add_button {
        width: 282px;
        height: 50px;
        margin: 34px auto;
    }
}

.profile__add_button:hover {
    opacity: 0.6;
}